[defaults]
deprecation_warnings = False
host_key_checking = False
timeout = 30
gathering = smart
fact_caching = memory
fact_caching_timeout = 86400
callbacks_enabled = timer, profile_tasks
stdout_callback = ansible.builtin.default
bin_ansible_callbacks = True
pipelining = True
remote_tmp = /tmp/ansible
ansible_managed = Ansible managed: {file} on {host} by {uid} at {date}
collections_paths = .vendor/collections:./ansible_collections:~/.ansible/collections
stdout_callback = yaml
# deprecation_warnings=False

[galaxy]
server_list = galaxy

[galaxy_server.galaxy]
url = https://galaxy.ansible.com

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path_dir = ~/.ansible/cp
control_path = %(directory)s/%%h-%%p-%%r

[callback_default]
result_format = yaml
