[defaults]
deprecation_warnings = False
host_key_checking = False
timeout = 30
gathering = smart
fact_caching = memory
fact_caching_timeout = 86400
callback_whitelist = timer, profile_tasks
stdout_callback = yaml
bin_ansible_callbacks = True
pipelining = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path_dir = ~/.ansible/cp
control_path = %(directory)s/%%h-%%p-%%r