[Resolve]
DNS={{ security_dnscrypt_proxy_listen_address }}
FallbackDNS=1.1.1.1 1.0.0.1
Cache=yes
DNSStubListener=yes
CacheFromLocalhost=yes
DNSOverTLS=no
DNSSEC=allow-downgrade
ReadEtcHosts=yes
MulticastDNS=no
LLMNR=no
