[defaults]
roles_path = ../../ansible_collections/yamisskey/servers/roles
collections_paths = ../../.vendor/collections:../../ansible_collections:~/.ansible/collections
host_key_checking = False
timeout = 30
gathering = smart
fact_caching = memory
stdout_callback = ansible.builtin.default
bin_ansible_callbacks = True
remote_tmp = /tmp/ansible
any_errors_fatal = True
gather_subset = min
vars_plugins_enabled = community.sops.sops

[inventory]
enable_plugins = yaml, host_list, script, auto, ini, toml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o Ciphers=aes256-ctr,aes192-ctr,aes128-ctr
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = True

[persistent_connection]
connect_timeout = 30
connect_retries = 3

[vars_community.sops.sops]
age_key_file = ../../age-key.txt
