body {
    background-color: #6A5DD8;
    background-image: url('https://angelkawaii.com/wp-content/uploads/2024/01/33.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
