POSTGRES_USER=postgres
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_DB=quesdon
TZ=Asia/Tokyo

REDIS_HOST=redis
REDIS_PORT=6379

WEB_URL=https://{{ neo_quesdon_server_name }}
DATABASE_URL=postgres://postgres:{{ neo_quesdon.jpostgres_password }}@db:5432/quesdon
JWT_SECRET={{ neo_quesdon.jwt_secret }}
NOTI_TOKEN={{ neo_quesdon.jnoti_token }}
NOTI_HOST={{ domain }}
APP_LOG_LEVEL=info
