---
# Nostr relay (nostr-rs-relay)
# https://github.com/scsibug/nostr-rs-relay
services:
  nostr:
    image: scsibug/nostr-rs-relay:latest
    restart: unless-stopped
    volumes:
      - "{{ nostr_dir }}/data:/usr/src/app/db"
      - "{{ nostr_dir }}/config.toml:/usr/src/app/config.toml:ro"
    ports:
      - "{{ nostr_port }}:8080"
    user: "100:100"

networks:
  default:
    name: nostr_network
